* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-image: url(./BG.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.wrapper {
  height: 100%;
  margin: auto;
  max-width: 1200px;
}
.menu {
  align-items: center;
  display: inline;
  display: flex;
}

.menu-container {
  display: flex-end;
  margin: auto;
}
.menu-logo {
  color: white;
  line-height: 68px;
  padding: 0 38px;
  font-size: 34px;
  display: flex;
  text-transform: uppercase;
}

.menu-item {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin-right: 18px;
}

.menu-item:hover {
  border-bottom: 3px solid white;
}

.button {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 23px 5px 23px 5px;
  margin: auto;
  display: block;
  width: 150px;
  text-align: center;
}

.text {
  color: white;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 200px;
}

.about {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.about-content {
  width: 550px;
}
.about-title {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  line-height: 64px;
  margin-bottom: 20px;
}

.about-text {
  text-align: center;
  margin-bottom: 30px;
}

.about-link {
  display: block;
  background-color: black;
  width: 190px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 23px 0 23px 0;
  margin: auto;
}

.project {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: black;
}
.project-container {
  height: 100vh;
}
.project-title {
  font-size: 64px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 132px;
  padding-bottom: 70px;
}
.photo {
  width: 335px;
  margin-right: 6px;
}

.photo:last-child {
  margin-right: 0;
}

.photo3 {
  height: 226.66px;
}

.gallery {
  height: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text2 {
  color: white;
  text-align: center;
}

.button-see-more {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  padding-left: 35px;
  text-decoration: none;
  color: black;
  display: flex;
  margin: auto;
  text-align: center;
  width: 70px;
}
